.icon-48-projections {
      background-image: url(../images/l_projections.png);
      padding-left:60px!important;
}

.icon-48-projection {
      background-image: url(../images/l_projections.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}